
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>线下转账</title>
    <meta name="referrer" content="no-referrer">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <script type="text/javascript" src="https://static.runoob.com/assets/jquery/2.0.3/jquery.min.js"></script>
    <script src="/static/plugins/layui/layui.js" charset="utf-8"></script>
    <style>
        .layui-col-md12{
            padding: 10px;
            margin: 1px;
            border-color: grey;
            border-width: 1px;
            border-style: dashed;
        }
    </style>
</head>
<body>
<div style="width: 100%; text-align: center;font-family:微软雅黑;">
    <div id="panelWrap" class="panel-wrap">
        <!-- CUSTOM LOGO -->
        <div><h1>转账信息</h1></div>
        <div class="layui-container" id="info">
            <div class="layui-row">
                <div class="layui-col-md12  layui-form-item"> <span>卡号:</span><input  style="text-align: center" class="layui-input-block"  readonly="readonly" value="{$userId}" id="userId"/> <span onclick="copy('userId')">复制</span> </div>
                <div class="layui-col-md12  layui-form-item"> <span>银行:</span><input  style="text-align: center" class="layui-input-block"  readonly="readonly" value="{$bankName}" id="bankName"/> <span onclick="copy('bankName')">复制</span> </div>


                <div class="layui-col-md12  layui-form-item"> <span>姓名:</span><input  style="text-align: center" class="layui-input-block"  readonly="readonly" value="{$realNamed}" id="realNamed"/> <span onclick="copy('realNamed')">复制</span> </div>


                <div class="layui-col-md12  layui-form-item"> <span>金额:</span><input  style="text-align: center" class="layui-input-block"  readonly="readonly" value="{$tradeMoney}" id="tradeMoney"/> <span onclick="copy('tradeMoney')">复制</span> </div>

                <input id="input" type="hidden">
            </div>
        </div>
        <span id="test1"></span>

        </div>
    </div>
</div>
<script type="text/javascript">
    var intDiff = 60;//倒计时总秒数量
    function timer(intDiff) {
        var t1 = window.setInterval(function () {
            var day = 0,
                hour = 0,
                minute = 0,
                second = 0;//时间默认值
            if (intDiff > 0) {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }

            if (minute <= 9) minute = '0' + minute;
            if (second <= 9) second = '0' + second;

            $('#test1').html('<span  style="color:green;font-size:40px">'+intDiff + '秒</span> 后重新下单<br />');
            intDiff--;
            if (intDiff<=0) {
                $('#test1').html('请重新提交');
                $('#info').empty();
                window.clearInterval(t1);

                window.opener = null;
                window.open('', '_self');
                window.close();
                window.location.href='{$return}';
            }
        }, 1000);
    }

    $(function () {
        timer(intDiff);

    });

    function  copy(id) {

        var Url2=document.getElementById(id);
        Url2.select(); // 选择对象
        document.execCommand("Copy"); // 执行浏览器复制命令
        // alert("已复制好，可贴粘。");
        layui.use(['jquery','layer'],function () {
            var $=layui.jquery
            layer.tips('复制成功', '#'+id, {
                tips: [1,'#000'],
                time: 4000,
                tipsMore: true
            });
        });
        // layui.tip('复制成功');

    }









</script>
</body>
</html>