{include file="common/header"/}


<link href="/static/index/goods/css/detail.css" charset="utf-8"></link>


{include file="common/nav"/}
<h1 id="title" class="title" style="text-align: center;margin: 20px"></h1>
<h3 id="cTime" style="text-align: center;margin-bottom: 20px"></h3>
<div class=" " style="height: 800px;">
    <div class="layui-row">
        <div class="layui-col-md2"><br></div>
       <div class="layui-col-md8" style="background: white;padding: 10px;border: solid #f2f2f2 1px"> <p id="content"  >


           <p style="text-align: left;">
               <br/>
           </p>
           <table>
               <tbody>
               <tr class="firstRow">
                   <td valign="top" style="word-break: break-all; border-color: rgb(0, 0, 0);" rowspan="1" colspan="2" width="380">
                       <span style="font-size: 20px;"><strong><span style="font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;项目</span></strong></span>
                   </td>
                   <td valign="top" rowspan="1" colspan="2" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="703">
                       <span style="font-size: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 资费<br/></strong></span>
                   </td>
               </tr>
               <tr>
                   <td valign="top" style="word-break: break-all; border-color: rgb(0, 0, 0);" rowspan="2" colspan="2" width="380">
                       <p style="margin-bottom: 10px;">
                           <span style="font-size: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;本地网营业区内电话<br/></strong></span>
                       </p>
                   </td>
                   <td valign="top" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="269">
                       <span style="font-size: 20px;"><strong>前三分钟</strong></span>
                   </td>
                   <td valign="top" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="413">
                       <span style="font-size: 20px;"><strong>0.20元</strong></span>
                   </td>
               </tr>
               <tr>
                   <td valign="top" colspan="1" rowspan="1" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="322">
                       <span style="font-size: 20px;"><strong>第四分钟起</strong></span>
                   </td>
                   <td valign="top" colspan="1" rowspan="1" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="374">
                       <span style="font-size: 20px;"><strong>0.1元/分钟</strong></span>
                   </td>
               </tr>
               <tr>
                   <td valign="top" colspan="2" rowspan="2" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="53">
                       <span style="font-size: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;拨打本地网内移动电话</strong></span>
                   </td>
                   <td valign="top" colspan="1" rowspan="1" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="269">
                       <span style="font-size: 20px;"><strong>前二分钟</strong></span>
                   </td>
                   <td valign="top" colspan="1" rowspan="1" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="378">
                       <span style="font-size: 20px;"><strong>0.40元</strong></span>
                   </td>
               </tr>
               <tr>
                   <td valign="top" colspan="1" rowspan="1" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="undefined">
                       <span style="font-size: 20px;"><strong>第四分钟起</strong></span>
                   </td>
                   <td valign="top" colspan="1" rowspan="1" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="NaN">
                       <span style="font-size: 20px;"><strong>0.2元/分钟</strong></span>
                   </td>
               </tr>
               <tr>
                   <td valign="top" colspan="1" rowspan="2" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="undefined">
                       <span style="font-size: 20px;"><strong>&nbsp; &nbsp; &nbsp; 长途电话<br/></strong></span>
                   </td>
                   <td valign="top" colspan="1" rowspan="2" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="NaN">
                       <span style="font-size: 20px;"><strong>国内长途IP资费</strong></span>
                   </td>
                   <td valign="top" colspan="2" rowspan="2" style="word-break: break-all; border-color: rgb(0, 0, 0);" width="703">
                       <span style="font-size: 20px;"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 0.3元/分钟</strong></span>
                   </td>
               </tr>
               <tr></tr>
               </tbody>
           </table>
           <p>
               <br/>
           </p>
           <p>
               <br/>
           </p>
           <p>
               <span style="font-size: 20px;"><strong>更多资费和详情,请致电:</strong></span>
           </p>
           <p>
               <br/>
           </p>
       </p></div>

        <div class="layui-col-md2"><br></div>
    </div>

</div>


<!--首页展示热门etc-->


<div class="layui-edge-bottom">

    {include file="common/footer"/}
</div>
<script>
    net.post('', {}, function (ret) {
        layui.use(['jquery'], function () {
            $ = layui.jquery;
            $('#content').html(ret.content);
            $('#title').html(ret.title);
            $('#cTime').html(ret.create_time);
        })
    })


</script>
</body>
</html>

