{include file="common/header"/}


<link href="/static/index/goods/css/center.css" charset="utf-8"></link>


{include file="common/nav"/}

<div class="layui-container layui-width-height ">

    <div class="layui-row">

        <a class="layui-btn" href="{:url('addAddress')}">添加</a>
        {include file="common/center"/}
        <div class="layui-col-md10">



            <table class="layui-table layui-hide" id="list" lay-filter="list"></table>


        </div>

    </div>

</div>





<!--首页展示热门etc-->


<div class="layui-edge-bottom">

    {include file="common/footer"/}
</div>
<script type="text/html" id="status">
    <div>
        {{ d.status == 0 ? '未支付' : '' }}

        {{ d.status == 1 ? '<span style="color:red">启用</span>' : '' }}

    </div>
</script>
<script type="text/html" id="isDefault">
    <div>
        {{ d.isDefault == 0 ? '非默认' : '' }}

        {{ d.status == 1 ? '<span style="color:red">默认</span>' : '' }}

    </div>
</script>
<script type="text/html" id="action">
    <div>

        <div>
            <a href="{:url('editAddress')}?id={{d.id}}" class="layui-btn  layui-btn-xs" lay-event="edit">{:lang('edit')}</a>


        </div>

    </div>
</script>
<script src="/static/index/goods/js/order.js?v={:time()}" charset="utf-8"></script>
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        var tableIn = table.render({
            elem: '#list',
            url: '{:url("address")}',
            method: 'post',
            cols: [[
                {checkbox: true, fixed: true},

                {title:'操作',width:120, toolbar: '#action',align:"center",fixed: true,},
                {field: 'id', title: 'ID', width: 80,  sort: true,fixed: true,},
                {field: 'areaName', title: '地区', width: 100},
                {field: 'isDefault', title: '是否默认', width: 100,templet:'#isDefault'},
                {field: 'info', title: '详情地区', width: 250},
                {field: 'status', title: '状态', width: 180, templet:'#status'},
                // {field: 'create_time', title: '添加时间', width: 180,templet:'#create_time'},
                // {field: 'update_time', title: '修改时间', width: 180,templet:'#update

            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 15,
            page: true
        });



        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('{:lang("Are you sure you want to delete it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('delete')}",{id:data.id},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }

        });

        form.on('switch(status)', function(data){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            $.post("{:url('state')}",{id:data.value},function(res){
                layer.close(loading);
                if(res.code>0){
                    layer.msg(res.msg,{time:1000,icon:1});
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        });

        $('#search').click(function () {
            var $keys = $('#keys').val();
            if(!$keys){
                return layer.msg('请输入关键词');
            }

            tableIn.reload({ page: {page: 1},where: {keys: $keys}});

        })


    });
</script>
</body>
</html>


