{include file="common/header"/}
<div class="LM-container">
    <div class="LM-main">
        <div class="admin-main layui-anim layui-anim-upbit">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>详情</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" lay-filter="form">


                <div class="layui-form-item">
                    <label class="layui-form-label">tradeMoney</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tradeMoney" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">mark</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mark" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>





                <div class="layui-form-item">
                    <label class="layui-form-label">orderId</label>
                    <div class="layui-input-inline">
                        <input type="text" name="orderId" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">status</label>
                    <div class="layui-input-inline">
                        <input type="text" name="status" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">cTime</label>
                    <div class="layui-input-inline">
                        <input type="text" name="cTime" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">mTime</label>
                    <div class="layui-input-inline">
                        <input type="text" name="mTime" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">userId</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userId" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">adminId</label>
                    <div class="layui-input-inline">
                        <input type="text" name="adminId" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">channelId</label>
                    <div class="layui-input-inline">
                        <input type="text" name="channelId" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">aid</label>
                    <div class="layui-input-inline">
                        <input type="text" name="aid" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">pay_url</label>
                    <div class="layui-input-inline">
                        <input type="text" name="pay_url" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">pay_url_android</label>
                    <div class="layui-input-inline">
                        <input type="text" name="pay_url_android" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">发送userId</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sendUserId" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">接受账号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="toUserId" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">是否发送</label>
                    <div class="layui-input-inline">
                        <input type="text" name="isNeedSend" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">queueChannel</label>
                    <div class="layui-input-inline">
                        <input type="text" name="queueChannel" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否支付</label>
                    <div class="layui-input-inline">
                        <input type="text" name="isPay" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">info</label>
                    <div class="layui-input-inline">
                        <input type="text" name="info" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">三方订单</label>
                    <div class="layui-input-inline">
                        <input type="text" name="thirdNo" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">子类型</label>
                    <div class="layui-input-inline">
                        <input type="text" name="subtype" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">useragent</label>
                    <div class="layui-input-inline">
                        <input type="text" name="useragent" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">payip</label>
                    <div class="layui-input-inline">
                        <input type="text" name="payip" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>



                <div class="layui-form-item">
                    <label class="layui-form-label">referer</label>
                    <div class="layui-input-inline">
                        <input type="text" name="referer" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">realip</label>
                    <div class="layui-input-inline">
                        <input type="text" name="realip" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>




                <div class="layui-form-item">
                    <label class="layui-form-label">交易订单</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tradeNo" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">是否删除</label>
                    <div class="layui-input-inline">
                        <input type="text" name="is_deleted" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>




                <div class="layui-form-item">
                    <label class="layui-form-label">显示</label>
                    <div class="layui-input-inline">
                        <input type="text" name="show" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">交易金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tradeMoney" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">是否跳转</label>
                    <div class="layui-input-inline">
                        <input type="text" name="canGo" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>


                    <label class="layui-form-label">交易金额</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tradeMoney" readonly="readonly" placeholder="{:lang('pleaseEnter')}描述"
                               class="layui-input">
                    </div>

                </div>








                <div class="layui-form-item">
                    <div class="layui-input-inline">


                        <a href="{:url('index')}" class="layui-btn layui-btn-primary">{:lang('back')}</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<script src="/static/common/js/file.js" charset="utf-8"></script>
{include file="common/footer"/}


<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        $.post('','',function (ret) {
            console.log(ret);
            form.val("form", ret.data);
        });

    });
</script>