{include file="common/header"/}
<div class="LM-container">
    <div class="LM-main">
        <fieldset class="layui-elem-field layui-field-title">
            <legend>{:lang('list')}</legend>
            <blockquote class="layui-elem-quote">
                <div class="LM-table">
                    <form class="layui-form"  >
                        <div class="layui-inline">
                            <select id='toUserId' name="toUserId"
                                    value="toUserId"  >
                                <option value="">是否分</option>
                                <option value="userId">分账</option>
                                <option value="toUserId">未分账</option>
                            </select>


                        </div>

                        <div class="layui-inline">

                            <select id='isPay' name="isPay"
                                    value="toUserId"  >
                                <option value="">是否支付</option>
                                <option value="1">已支付</option>
                                <option value="0">未支付</option>
                            </select>


                        </div>

                        <div class="layui-inline">

                            <input id='mark' class="layui-input" name="money" placeholder="标记"  >
                        </div>

                        <div class="layui-inline">

                            <input id='id' class="layui-input" name="id" placeholder="id"  >
                        </div>
                        <div class="layui-inline">

                            <input id='orderId' class="layui-input" name="orderId" placeholder="orderId"  >
                        </div>

                        <div class="layui-inline">

                            <input id='money' class="layui-input" name="money" placeholder="金额"
                                   type="number" >
                        </div>
                    </form>
                    <button class="layui-btn data-add-btn layui-btn-sm" style="margin-top: 10px" lay-submit="" lay-filter="add" id="search">{:lang('search')}</button>


                </div>
            </blockquote>

        </fieldset>



        <table class="layui-table" id="list" lay-filter="list"></table>
    </div>
</div>


<script type="text/html" id="action">

    <a  class="layui-btn  layui-btn-xs" lay-event="queryOrder">查询</a>
    <a  class="layui-btn  layui-btn-xs" lay-event="twicePay">{:lang('补单')}</a>

    <a  class="layui-btn  layui-btn-xs layui-btn-danger" lay-event="forcePay">{:lang('线下补单')}</a>
    <a  class="layui-btn  layui-btn-xs" lay-event="settle">{:lang('分账')}</a>
    <a href="{:url('detail')}?id={{d.id}}" class="layui-btn  layui-btn-xs" lay-event="detail">{:lang('详情')}</a>
    <a  class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/html" id="status">
    <div>
        {{ d.status == 0 ? '未跳转' : '' }}
        {{ d.status == 1 ? '已跳转' : '' }}
        {{ d.status == 2 ? '已取链' : '' }}
        {{ d.status == 10 ? '<span style="color:red">已支付</span>' : '' }}
    </div>

</script>
<script type="text/html" id="pay">
    <div>
        {{ d.isPay == 0 ? '未支付' : '' }}

        {{ d.isPay == 1 ? '<span style="color:red">已支付</span>' : '' }}
    </div>

</script>

<script type="text/html" id="thumb">
    {{d.title}}<img src="/static/admin/images/image.gif" onmouseover="layer.tips('<img src={{d.thumb}}>',this,{tips: [1, '#fff']});" onmouseout="layer.closeAll();">
</script>
<script type="text/html" id="start_time">
    {{layui.util.toDateString(d.cTime*1000, 'yyyy/MM/dd HH:mm:ss')}}
</script>

<script type="text/html" id="publish_time">
    {{layui.util.toDateString(d.mTime*1000, 'yyyy/MM/dd HH:mm:ss')}}
</script>
<script type="text/html" id="create_time">
    {{layui.util.toDateString(d.create_time*1000, 'yyyy/MM/dd HH:mm:ss')}}
</script>
<!--<script type="text/html" id="update_time">-->
<!--    {{layui.util.toDateString(d.update_time*1000, 'yyyy-MM-dd HH:mm:ss')}}-->
<!--</script>-->
{include file="common/footer"/}
<script>
    layui.use(['form', 'table'], function () {
        var $ = layui.jquery,
            form = layui.form,
            table = layui.table;

        var tableIn = table.render({
            elem: '#list',
            url: '{:url("index")}',
            method: 'post',
            toolbar: '#toolbar',
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips' }],
            cols: [[
                {checkbox: true, fixed: true},
                {title:'操作',width:360, toolbar: '#action',align:"center",fixed: true,},
                {field: 'id', title: 'ID', width: 80, fixed: true, sort: true},
                {field: 'tradeMoney', title: '金额', width: 80, fixed: true,},
                {field: 'orderId', title: '订单号', width: 120, fixed: true,},
                {field: 'mark', title: '备注', width: 180, fixed: true,},

                {field: 'status', title: '状态', width: 80,templet:'#status',fixed: true,},
                {field: 'tradeNo', title: '交易订单号', width: 120,},
                {field: 'show', title: '显示', width: 120,},
                {field: 'canGo', title: '可跳转', width: 80,},
                // {field: 'useragent', title: '可跳转', width: 120, fixed: true,},
                {field: 'orderId', title: '订单号', width: 100},
                {field: 'thirdNo', title: '三方订单号', width: 120},

                {field: 'isPay', title: '支付状态', width: 80,templet:'#pay'},
                {field: 'username', title: '用户', width: 80},
                {field: 'title', title: '类型', width: 80 },
                {field: 'realNamed', title: '账号', width: 80},
                {field: 'toUser', title: 'mini账号', width: 10},
                {field: 'cTime', title: '时间', width: 180,templet:'#start_time'},
                {field: 'mTime', title: '修改时间', width: 180,templet:'#publish_time'},



            ]],
            limits: [10, 15, 20, 25, 50, 100],
            limit: 10,
            page: true
        });



        table.on('tool(list)', function(obj){
            var data = obj.data;
            if(obj.event === 'del'){
                layer.confirm('{:lang("Are you sure you want to delete it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('delete')}",{id:data.id},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            obj.del();
                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }

            if (obj.event=='forcePay'){
                layer.confirm('{:lang("Are you sure you want to  线下支付 it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('forcePay')}",{id:data.id},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});

                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }


            if (obj.event=='queryOrder'){
                layer.confirm('{:lang("Are you sure you want to  queryOrder it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('queryOrder')}",{id:data.id},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});

                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }

            if (obj.event=='settle'){
                layer.confirm('{:lang("Are you sure you want to  线下支付 it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('settle')}",{id:data.id},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});

                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }


            if (obj.event=='twicePay'){
                layer.confirm('{:lang("Are you sure you want to  补单 it")}', function(index){
                    loading =layer.load(1, {shade: [0.1,'#fff']});
                    $.post("{:url('twicePay')}",{id:data.id},function(res){
                        layer.close(loading);
                        layer.close(index);
                        if(res.code>0){
                            layer.msg(res.msg,{time:1000,icon:1});
                            location.href = res.url;

                        }else{
                            layer.msg(res.msg,{time:1000,icon:2});
                        }
                    });
                });
            }


        });

        form.on('switch(status)', function(data){
            loading =layer.load(1, {shade: [0.1,'#fff']});
            var status = $(this).attr('checked')?0:1;
            $.post("{:url('state')}",{id:data.value,status:status},function(res){
                layer.close(loading);
                if(res.code>0){
                    layer.msg(res.msg,{time:1000,icon:1});
                    location.href = res.url;
                }else{
                    layer.msg(res.msg,{time:1000,icon:2});
                }
            });
        });

        $('#search').click(function () {
            var toUserId = $('#toUserId').val();
            var isPay = $('#isPay').val();
            var $id = $('#id').val();
            var $orderId = $('#orderId').val();
            var $mark = $('#mark').val();
            var $money = $('#money').val();
            tableIn.reload({ page: {page: 1},where: {toUserId: toUserId,isPay:isPay,id:$id,orderId:$orderId
                    ,mark:$mark,money:$money}});

        })


    });


</script>