{include file="common/header"/}


<link href="/static/index/goods/css/detail.css" charset="utf-8"></link>


{include file="common/nav"/}
<div class="layui-container layui-width-height" style="height: 800px;">
    <input hidden id="skuId" value="{$skuId}">
    <input   id="money" class="layui-btn" type="hidden" value="{$money}">
    <input hidden id="sign" value="{$sign}">

    <div class="layui-row">
        <div id="goodsList"></div>
    </div>

</div>





<!--首页展示热门etc-->


<div class="layui-edge-bottom">

    {include file="common/footer"/}
</div>
<script src="/static/index/goods/js/buy.js?v={:time()}" charset="utf-8"></script>
</body>
</html>


