{include file="common/header"/}

<style>
    .home-class{
        text-align: center;
        font-size: x-large;
    }

</style>


{include file="common/nav"/}


<!--nav-->
<ul class="layui-nav layui-bg-red" id="nav">
</ul>
<!--nav-->
<!--目录-->
<div class="layui-container" style="background: red;width: 100%">
<div class="layui-row">

    <div class="layui-col-md2" style="background: white">
        <div >

            <ul id="left_clazz" class="" style="width: 100%;" lay-filter="test">
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->

            </ul>

        </div>
    </div>
        <div class="layui-col-md10" style="background: white">

            <div   class="layui-carousel" style="background-color: red" id="banner">
                <div carousel-item id="bannerItem">
                </div>
            </div>
        </div>






</div>
</div>
<!--目录-->
<div   class="layui-container"   >
<div class="layui-row layui-col-space10">
{include file="common/left"/}
    <div class="layui-col-md10" >
<!--首页展示热门etc-->
        <div style="size:30px;color: red;font-style: italic">热门产品</div>
        <div  style="margin-top: 30px;background: red">
            <ul id="homeClass" style="text-align: center;">


            </ul>
        </div>
</div>
    {include file="common/right"/}
</div>




<!--首页展示热门etc-->


</div>

{include file="common/footer"/}
<script src="/static/index/index/js/index.js?v={:time()}" charset="utf-8"></script>
<script src="/static/index/index/js/left.js?v={:time()}" charset="utf-8"></script>
<script src="/static/index/index/js/right.js?v={:time()}" charset="utf-8"></script>
</body>
</html>


